<ion-header>
  <ion-navbar color="menu-home">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listing</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="this.listingInfo">

  <ion-card>
    <img [src]="uploadsUrl + this.listingInfo.filename"/>
    <ion-card-content>
      <ion-card-title>
        {{this.listingInfo.title}}
      </ion-card-title>
      <br/>
      <h2>{{ (this.listingInfo.description | price) }}€/Day</h2>
      <br/>
      <h4>
        {{ (this.listingInfo.description | description) }}
      </h4>
      <div class="listingBtn" *ngIf="this.mediaService.isLoggedIn && !this.mediaService.myListing">
        <button (click)="openEmailApp()" ion-button clear small color="primary" icon-start>
           <ion-icon class="icon-md" name='mail'></ion-icon>
           Contact Owner
        </button>
      </div>
      <div class="listingBtn" *ngIf="this.mediaService.isLoggedIn && this.mediaService.myListing">
          <ion-icon (click)="showAlert()" name="close" color="danger"></ion-icon>
          <p>Delete this item</p>
      </div>
      <div *ngIf="!this.mediaService.isLoggedIn">
        <br/>

        <button id="toSignIn" ion-button color="danger" outline (click)="toSignIn()">
          Please log in to get contact information !
        </button>

      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
