<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listing</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <div *ngIf="this.listingInfo">

  <ion-card>
    <img [src]="uploadsUrl + this.listingInfo.filename"/>
    <ion-card-content>
      <ion-card-title>
        {{this.listingInfo.title}}
      </ion-card-title>
      <br/>
      <h2> €/Day: {{ (this.listingInfo.description | price) }} </h2>
      <br/>
      <h4>
        {{ (this.listingInfo.description | description) }}
      </h4>
      <div *ngIf="this.mediaService.isLoggedIn">
        <button (click)="openEmailApp()" ion-button clear small color="light" icon-start>
           <ion-icon name='checkbox-outline'></ion-icon>
           I need this
        </button>
      </div>
      <div *ngIf="!this.mediaService.isLoggedIn">
        <p>
          Please log in to get contact information !
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
