page-login {

  ion-card-header {
    text-align: center;
    font-size: 3rem;
  }

  form {
    justify-content: center;
    align-items: center;

    input {
      align-self: center;
    }
  }

  .centered {
    text-align: center;
  }
}
