<ion-header>
  <ion-navbar color="menu-new-listing">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        Register
      </ion-card-header>
      <br />
      <ion-card-content>
        <form>
        <div class="form-group">
        <input class="form-control" [(ngModel)]="this.register.username"
        (change)="isAvailable(this.register.username)" name="username"
                class="centered" ion-item
                type="text" placeholder="Username" required>
                <br/>
                <div *ngIf="!this.usernameAvailable">
                  <p ion-text class="alertBox" [color]="themeColor">
                      {{ usernameMessage }}
                  </p>
                </div>
                <div *ngIf="this.usernameAvailable">
                  <h3 ion-text
                      [color]="themeColor">
                      {{ usernameMessage }}
                  </h3>
                </div>
          <br />
          <input class="form-control" [(ngModel)]="this.register.password" name="password"
                  class="centered" ion-item
                  type="password" placeholder="*******" required/>
          <br />
          <input class="form-control" [(ngModel)]="this.register.email"
              name="email"
              class="centered" ion-item
              type="email" placeholder="email@example.fi" required/>
            <br />
            <input class="form-control" [(ngModel)]="this.register.full_name"
              name="full_name"
              class="centered" ion-item
              type="email" placeholder="Full Name (Optional)" >
              <br />
            </div>
          <button class="centered" ion-button color="menu-new-listing"
                  (click)="this.mediaService.register(this.register); this.goBack();">
            Register
          </button>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
