<ion-header>
  <ion-navbar  color="menu-profile">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="userInfo" *ngIf="this.mediaService.isLoggedIn">
    <form #userInfoForm="ngForm">

      <button ion-button
       color="danger"
       (click)="toggleEditing()"
       class="btn btn-success"
       [disabled]="!this.editingDisabled">
                    Edit information
      </button>
      <div class="form-group">
        <br>
        <ion-input class="form-control" type="text"
                [(ngModel)]="this.mediaService.userInfo.username"
                name="username" #title="ngModel"
                [disabled]="this.editingDisabled">
        </ion-input>
        <br>
        <ion-input class="form-control" type="email"
                [(ngModel)]="this.mediaService.userInfo.email"
                #name="ngModel"
                name="email"
                [disabled]="this.editingDisabled">
        </ion-input>
        <br>
        <ion-input class="form-control" type="password"
                [(ngModel)]="userInfoForm.password"
                placeholder="Type new password" #name="ngModel"
                name="password"
                [disabled]="this.editingDisabled">
        </ion-input>
      <!-- Loading icon, appears when create button is pressed -->
      <div class="icon-lg"  *ngIf="this.loading">
        <ion-spinner name="dots" color="primary"></ion-spinner>
      </div>
      <!-- Confirmation icon and text, appears when information is updated -->
      <div class="icon-lg" *ngIf="this.updated">
        <ion-icon color="primary" name="checkmark"></ion-icon>
        <p class="confirmationText">Information updated</p>
      </div>
      <br>
      <button ion-button (click)="updateInfo(userInfoForm)"
       class="btn btn-success">
                    Save information
      </button>
    </div>
  </form>
</div>
</ion-content>
