<ion-header>
  <ion-navbar  color="menu-profile">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="userInfo" *ngIf="this.mediaService.isLoggedIn">
    <form #userInfoForm="ngForm">

      <button ion-button
        *ngIf="!canEdit"
        color="danger"
        (click)="allowEditing()"
        class="btn btn-success">
          Edit information
      </button>
      <button ion-button
        *ngIf="canEdit"
        color="danger"
        (click)="resetInformation()"
        class="btn btn-success">
          Cancel
      </button>
      <div class="form-group">
        <br>
          <ion-input type="text"
                  (click)="$event.preventDefault();"
                  [(ngModel)]="this.mediaService.userInfo.username"
                  name="username" #title="ngModel"
                  [disabled]="!this.canEdit"
                  placeholder="Username">
          </ion-input>
        <br>
          <ion-input type="email"
                  (click)="$event.preventDefault();"
                  [(ngModel)]="this.mediaService.userInfo.email"
                  #name="ngModel"
                  name="email"
                  [disabled]="!this.canEdit"
                  placeholder="Email">
          </ion-input>
        <br>
          <ion-input type="password"
                  (click)="$event.preventDefault();"
                  [(ngModel)]="userInfoForm.password"
                  placeholder="Type new password" #name="ngModel"
                  name="password"
                  [disabled]="!this.canEdit">
          </ion-input>
      <!-- Loading icon, appears when create button is pressed -->
      <div class="icon-lg"  *ngIf="this.loading">
        <ion-spinner name="dots" color="primary"></ion-spinner>
      </div>
      <!-- Confirmation icon and text, appears when information is updated -->
      <div class="icon-lg" *ngIf="this.updated">
        <ion-icon color="primary" name="checkmark"></ion-icon>
        <p class="confirmationText">Information updated</p>
      </div>
      <br>
      <button *ngIf="this.canEdit" ion-button (click)="updateInfo(userInfoForm)"
       class="btn btn-success">
                    Save information
      </button>
    </div>
  </form>
</div>
</ion-content>
