page-my-profile {

  ion-content {

    .userInfo {
      text-align: center;
      padding: 2rem;

      input {
        margin: 3rem;
      }

      .icon-lg {
        zoom:2.0;
        font-size: 3rem;
      }

      .confirmationText {
        padding: 0;
        font-size: 1rem;
      }
    }
  }
}
