<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>
<ion-header>
  <ion-navbar  color="menu-home">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home
       <ion-icon
          *ngIf="this.mediaService.isLoggedIn"
          (click)="toggleSearchBar()"
          class="icon-right"
          name="search">
       </ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="searchBarVisible">
    <ion-searchbar
      [(ngModel)]="myInput"
      debounce="750"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </div>

  <ion-fab class="floatButton" bottom right *ngIf="this.mediaService.isLoggedIn">
    <button ion-fab color="menu-home" (click)="toUploadPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher (ionRefresh)="refreshHome($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col
        col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3
        *ngFor="let listing of listings">
        <app-listing [listing]="listing"></app-listing>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
