<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item no-lines class="item-borderless" color="primary" (click)="openPage(this.homePage)">
        <ion-icon name="home"></ion-icon> Home
      </button>
       <div *ngIf="!this.mediaService.isLoggedIn">
         <button menuClose ion-item no-lines color="dark" (click)="openPage(this.pages[0])">
           <ion-icon name="lock"></ion-icon> {{ this.pages[0].title }}
         </button>
           <button menuClose ion-item no-lines color="light" (click)="openPage(this.pages[4])">
             <ion-icon name="person-add"></ion-icon> {{ this.pages[4].title }}
           </button>
       </div>
      <div *ngIf="this.mediaService.isLoggedIn">
        <button menuClose ion-item no-lines color="light" (click)="openPage(this.pages[1])">
          <ion-icon name="person"></ion-icon> {{ this.pages[1].title }}
        </button>
        <button menuClose ion-item no-lines color="dark" (click)="openPage(this.pages[2])">
          <ion-icon name="albums"></ion-icon> {{ this.pages[2].title }}
        </button>
        <button menuClose ion-item no-lines color="danger" (click)="openPage(this.pages[5])">
          <ion-icon name="add"></ion-icon> {{ this.pages[5].title }}
        </button>
        <button menuClose ion-item no-lines color="secondary" (click)="openPage(this.pages[3])">
          <ion-icon name="close"></ion-icon>  {{ this.pages[3].title }}
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
