.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

ion-card {

  text-align: center;

  .icon-md {
    font-size: 5rem;
  }

  .icon-lg {
    zoom:3.0;
  }

  form {

    ion-input ion-textarea {
      padding: 1rem;
      margin: 1rem;

    }

    #file {
      padding: 1rem;

    }

    #description {
      height: 10rem;
      text-overflow: ellipsis;
    }
  }
}
