<ion-header>
  <ion-navbar color="menu-new-listing">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Listing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!this.canUpload">
    <div class="alert alert-danger">
        You need to logged in to upload media !
    </div>
  </div>
  <ion-card>

    <ion-item>

  <ion-select (ionChange)="checListingOption(listingOption)" required placeholder="select"[(ngModel)]="listingOption">
    <ion-option value="forRent">For rent</ion-option>
    <ion-option value="wantedRent">Wanted to rent</ion-option>
  </ion-select>
</ion-item>

    <div *ngIf="this.canUpload">
        <ion-card-title> UPLOAD </ion-card-title>
        <ion-card-content>

          <div *ngIf="this.listingImageURL">
            <img [src]="this.listingImageURL"/>
          </div>
          <button *ngIf="!this.listingOpt"  ion-button id="file" class="btn btn-default"
                  (click)="takePhoto()" [disabled]="this.listingImageURL">
                  Take photo
          </button>
          <br/>
          <div *ngIf="this.listingImageURL">
            <ion-icon (click)="removePhoto()" class="icon-md" name="trash" md="md-trash" color="danger"></ion-icon>
          </div>
          <div [hidden]="this.listingImageURL"
                class="alert alert-danger">
                  Photo is required
          </div>

          <form #uploadForm="ngForm">

            <br/>
            <div class="form-group">
              <ion-input class="form-control" type="text" [(ngModel)]="uploadForm.title"
                      placeholder="Title" name="title" #title="ngModel"
                      (click)="$event.preventDefault();" required>
              </ion-input>
              <div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                      Title is required !
              </div>
              <br />
              <ion-input class="form-control" type="number" [(ngModel)]="uploadForm.price"
                      placeholder="Price(€)" #name="ngModel"
                      name="price"
                      (click)="$event.preventDefault();" required>
              </ion-input>
              <div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                    Price is required !
              </div>
              <br />
              <ion-textarea cols="25" rows="7" id="description" class="form-control"
                        type="text" [(ngModel)]="uploadForm.description"
                        placeholder="Description" #name="ngModel"
                        name="description"
                        contenteditable="true" required></ion-textarea>
              <div [hidden]="title.valid || title.pristine"
                    class="alert alert-danger">
                    Description is required !
              </div>
            </div>
            <br/>
            <!-- Loading icon, appears when create button is pressed -->
            <div *ngIf="this.loading">
              <ion-spinner class="icon-lg" name="dots" color="primary"></ion-spinner>
            </div>
            <br/>
            <button ion-button (click)="onSubmit(uploadForm)"
             class="btn btn-success" [disabled]="!uploadForm.form.valid">Create Listing</button>

          </form>
        </ion-card-content>
      </div>
  </ion-card>
</ion-content>
